<% include partial/header %>

<% if (locals.session['herPro']) { %>
	<div class="col-md-12 col-xs-12">
		<div class="col-md-8 col-xs-8">
			<img id="avatar" name="<%= locals.session['herPro'][10] %>" src=<%= '/asset/uploads/' + locals.session['herPro'][8] %> class="col-md-offset-4 col-xs-offset-4 col-md-4 col-xs-4 img-circle" alt="<%= locals.session['herPro'][7] %>">
		</div>
		<div class="col-md-4 col-xs-4"><br><br>
			<% if (locals.session['likeHer'] == undefined) { %>	
				<div id="like_user" style="" class="col-md-12 col-xs-12 text-center">
					<input class="btn btn-success" type="button" name="like_user" value="J'aime :)">
				</div>
				<div id="unlike_user" style="display:none;" class="col-md-12 col-xs-12 text-center">
					<input class="btn btn-info" type="button" name="dis_like" value="J'aime plus :(">
				</div>
			<% } else { %>
				<div id="like_user" style="display:none;" class="col-md-12 col-xs-12 text-center">
					<input class="btn btn-success" type="button" name="like_user" value="J'aime :)">
				</div>
				<div id="unlike_user" style="" class="col-md-12 col-xs-12 text-center">
					<input class="btn btn-info" type="button" name="dis_like" value="J'aime plus :(">
				</div>
			<% } if (locals.session['falseHer'] == undefined) { %>
				<div id="false_user" class="col-md-12 col-xs-12 text-center">
					<input  class="btn btn-warning" type="button" name="false_user" value="C'est un faux !">
				</div>
			<% } if (locals.session['blockHer'] == undefined) { %>
				<div id="block_user"  style="" class="col-md-12 col-xs-12 text-center">
					<input  class="btn btn-danger" type="button" name="block_user" value="Bloque">
				</div>
				<div id="deblock_user" style="display:none;" class="col-md-12 col-xs-12 text-center">
					<input class="btn btn-info" type="button" name="deblock_user" value="Débloque">
				</div>
			<% } else { %>
				<div id="block_user" style="display:none;" class="col-md-12 col-xs-12 text-center">
					<input  class="btn btn-danger" type="button" name="block_user" value="Bloque">
				</div>
				<div id="deblock_user"  style="" class="col-md-12 col-xs-12 text-center">
					<input class="btn btn-info" type="button" name="deblock_user" value="Débloque">
				</div>
			<% } %>
		</div>
	</div>
	<div class="col-md-12 col-xs-12">
		<div class="col-xs-8 col-md-8">
			<p class="text-center"><%= locals.session['herPro'][0] %> <%= locals.session['herPro'][1] %> <% if (locals.session['herPro'][2] != '' && locals.session['herPro'][2]) { %><%= locals.session['herPro'][2] + ' ans' %><% } %></p>
			<p class="text-center"><%= locals.session['herPro'][3] %> <%= locals.session['herPro'][4] %></p>
			<% if (locals.session['herTag'] != null) { %>
				<p class="text-center">
				<% for (var i = 0;locals.session['herTag'][i]; i++) { %>
					<% if (locals.session['herTag'][i] != ' ') { %>
						<%= '#' + locals.session['herTag'][i] %>
					<% } %>
				<% } %>
				</p>
			<% } %>
		</div>
		<div class="col-md-4 col-xs-4">
			<p class="text-center"><%= locals.session['herPro'][5] %></p>
		</div>
	</div>
	<div class="col-md-12 col-xs-12">
		<% if (locals.session['herPic']) { %>
			<% if (locals.session['herPic'][0] != ' ') { %>
				<% for (var i = 0; locals.session['herPic'][i]; i++) { %>
					<img src=<%= '/asset/uploads/' + locals.session['herPic'][i] %> class="col-md-2 col-xs-2 img-circle">
				<% } %>
			<% } %>
		<% } %>
	</div>
<% } %>

<script type="text/javascript" src="/asset/js/herPro.js"></script>

<% include partial/footer %>