<% include ../partial/header %>
<div class="container-fluid">
	<div id="galinfo" class="col-md-10 col-xs-10">
		<% if (locals.session['mypic'][0] === ' ' || locals.session['mypic'][0] == null) { %>
			<label class="col-md-12 col-sm-12 text-center">Tu n'a pas de photo :(</label><br>
		<% } else { %>
			<label class="col-md-12 col-xs-12 text-center">T'es photo(s) :</label><br>
			<% for (var i = 0;locals.session['mypic'][i]; i++) { %>
				<div>
					<img class="col-md-2 col-xs-2 img-circle" src="<%= '/asset/uploads/' + locals.session['mypic'][i] %>" onclick="toAvatar('<%= locals.session['mypic'][i] %>');" oncontextmenu="deleteImg('<%= locals.session['mypic'][i] %>');return false;"/>
				</div>
			<% } %>
		<% } %>
	</div>
	<div class="col-md-2 col-xs-2">
		<input type="file" class="col-md-12 col-xs-12" name="userPhoto" /><br>
		<input id="Upload" class="col-md-12 col-xs-12 btn btn-primary btn-sm" type="submit" name="submit" value="Upload"><br>
	</div>
	<div class="col-md-6 col-xs-6">	
		<br><form action="/compte/info" method="post">
			<label class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3 text-center">Pseudo</label>
			<input class="form-control text-center input-sm" type="text" name="pseudo"
			value="<% if (locals.session['myinfo']) { %><%= locals.session['myinfo'][10] %><% } %>">
			<label class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3 text-center">Prénom</label>
			<input class="form-control text-center input-sm" type="text" name="firstname"
			value="<% if (locals.session['myinfo']) { %><%= locals.session['myinfo'][0] %><% } %>">
			<label class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3 text-center">Nom</label>
			<input class="form-control text-center input-sm" type="text" name="lastname"
			value="<% if (locals.session['myinfo']) { %><%= locals.session['myinfo'][1] %><% } %>">
			<label class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3 text-center">Âge</label>
			<input class="form-control text-center input-sm" type="text" name="age"
			value="<% if (locals.session['myinfo']) { %><%= locals.session['myinfo'][2] %><% } %>">
			<label class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3 text-center">Sexe</label>
			<select class="form-control text-center input-sm" name="sexe" size="1">
				<option>
					<% if (locals.session['myinfo']) { %><%= locals.session['myinfo'][3] %><% } %>
				</option>
				<option>Homme</option>
				<option>Femme</option>
			</select>
	        
	        <label class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3 text-center">Orientation sexuel</label>
			<select class="form-control text-center input-sm" name="orient" size="1">
				<option><% if (locals.session['myinfo']) { %><%= locals.session['myinfo'][4] %><% } %></option>
				<option>Hetero</option>
				<option>Gay</option>
				<option>Bi-sex</option>
			</select>
	        <label class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3 text-center">Mail</label>
			<input class="form-control text-center input-sm" type="mail" name="mail"
			value="<% if (locals.session['myinfo']) { %><%= locals.session['myinfo'][6] %><% } %>">
	        <label class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3 text-center">Petite Bio</label>
	        <textarea class="form-control text-center input-sm" rows="3" name="bio"
	        value=""><% if (locals.session['myinfo']) { %><%= locals.session['myinfo'][5] %><% } %></textarea>
	    	<div class="col-md-3 col-md-offset-5 col-xs-offset-5">
	        	<input class="btn btn-primary" type="submit" name="submit" value="Update">
	    	</div>
	    </form>
	</div>
	<div class="col-md-6 col-xs-6"><!-- Ajouter des centres d'interet a ton profile -->
		<div><br>
		<% if (!locals.session['mytag'] || locals.session['mytag'][0] == ' ') { %>
			<label class="col-md-offset-4 col-xs-offset-4 text-center">Tu n'a pas encore de #TAG :(</label>
		<%  } else { %>
			<label class="col-md-offset-4 col-xs-offset-4 text-center">Tu à c'est #TAG:</label>
			<p class="text-center" name="mytag">
			<% for (var nbt = 0; locals.session['mytag'][nbt];nbt++) { %>
				<% if (locals.session['mytag'][nbt] != ' ') { %>
					<%= '#' + locals.session['mytag'][nbt] %>
				<% } %>
			<% } %>
		<% } %>
			</p>
		</div>
		<form method="post" action="/compte/info">
    		<label class="col-md-offset-4 col-xs-offset-4 text-center">Choisis tes centres d'interets</label>
			<div>
    			<% if (locals.session['interet']) { %>
    				<% var col = 0; for (var i = 0; locals.session['interet'][i]; i++) {%>
    					<input type="checkbox" name="select" value="<%= locals.session['interet'][i] %>"> <%= locals.session['interet'][i] %>
    					<% if (col == 6) { %>
    						</br>
    						<% col = 0; %>
    					<% } %>
    				<% }
    			} %>
			</div>
			<div class="col-md-2 col-xs-2 col-md-offset-5 col-xs-offset-5">
		        <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Ajouter">
		        <input class="btn btn-default btn-sm" type="submit" name="submit" value="Supprimer">
		    </div>
		</form>
	</div>
	<div class="col-md-6 col-xs-6"><!-- Ajouter des centres d'interets si il n'existe pas -->
	    <form action="/compte/info" method="post">
    	    <label class="col-md-offset-5 col-xs-offset-5 text-center">Ou ajoute en !</label>
	        <input class="form-control input-sm text-center" type="text" name="interet">  
	        <div class="col-md-3 col-xs-3 col-md-offset-5 col-xs-offset-5">
	        	<input class="btn btn-primary btn-sm" type="submit" name="submit" value="Creer">
	        </div>
	    </form>
		<div class="col-md-3 col-xs-3 col-md-offset-5 col-xs-offset-5">
		  	<input id="distance" class="btn btn-primary btn-sm" type="submit" name="submit" value="Ma distance avec lyon !">
		</div>
	</div>
</div>
	
<script src="http://js.maxmind.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript"></script>
<script type="text/javascript" src="/asset/js/info.js"></script>

<% include ../partial/footer %>