<% include ../partial/header %>

<% if (locals.session['myinfo']) { %>
	<div id="likeur" class="row">
		
	</div>
	<img src=<%= '/asset/uploads/' + locals.session['myinfo'][9] %> class="col-md-offset-4 col-xs-offset-4 col-md-4 col-xs-4 img-circle">
	<div class="row">
		<div>
			<p class="text-center"><%= locals.session['myinfo'][0] %> <%= locals.session['myinfo'][1] %> <% if (locals.session['myinfo'][2] != '') {%><%= locals.session['myinfo'][2] + ' ans'%> <% } %> </p>
			<p class="text-center"><%= locals.session['myinfo'][3] %> <%= locals.session['myinfo'][4] %></p>
			<% if (locals.session['mytag'] != null) { %>
				<p class="text-center">
				<% for (var i = 0; locals.session['mytag'][i]; i++) { %>
					<% if (locals.session['mytag'][i] != ' ') { %>
						<%= '#' + locals.session['mytag'][i] %>
					<% } %>
				<% } %>
				</p>
			<% } %>
			<p class="text-center"><%= locals.session['myinfo'][5] %></p>
		</div>
	</div>
	<div class="col-md-12 col-xs-12">
		<% if (locals.session['mypic']) { %>
			<% if (locals.session['mypic'][0] != ' ') { %>
				<% for (var i = 0; locals.session['mypic'][i]; i++) { %>
					<img src=<%= '/asset/uploads/' + locals.session['mypic'][i] %> class="col-md-2 col-xs-2 img-circle">
				<% } %>
			<% } %>
		<% } %>
	</div>
<% } %>

<% include ../partial/footer %>