<% include ../partial/header %>

<% if (locals.session['myprofile']) { %>
	<img src=<%= '"' + locals.session['myprofile']['img1'] + '"' %> class="img-circle">
	<div class="row">
		<div>
			<p class="text-center"><%= locals.session['myprofile']['name'] %></p>
			<p class="text-center"><%= locals.session['myprofile']['sexe'] %></p>
			<p class="text-center"><%= locals.session['myprofile']['orient'] %></p>
			<p class="text-center"><%= locals.session['myprofile']['bio'] %></p>
			<p class="text-center"><%= locals.session['myprofile']['tag'] %></p>
		</div>
	</div>
<% } %>

<% include ../partial/footer %>