<% include ../partial/header %>

<% if (locals.session['myinfo']) { %>
	<div class="row">
		<div id="likeur" class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Ils ont liké ton profile:</div>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 text-center">
			<img id="avatar" src=<%= '/asset/uploads/' + locals.session['myinfo'][9] %> class="col-md-offset-3 col-xs-offset-3 col-md-6 col-xs-6 img-circle" alt="<%= locals.session['myinfo'][12] %>">
		</div>
		<div id="visiteur" class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Ils ont visité ton profile:</div>
			<% if (locals.session['myVisit']) { %>
				<% for (var v = 0; locals.session['myVisit'][v]; v++) { %>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
						<a href=<%= '/profile/' + locals.session['myVisit'][v] %>><%= locals.session['myVisit'][v] %></a>
					</div>
				<% } %>
			<% } %>
		</div>
	</div>
	<br><div class="progress">
		<% if (locals.session['popu'] < 100) { %>
			<div class="progress-bar progress-bar-info active" style="width: 10%;">Popularité:</div>
			<div class="progress-bar progress-bar-success progress-bar-striped active" style="width: <%= locals.session['popu'] %>%;"><%= locals.session['popu'] %>pts Popularité</div>
			<div class="progress-bar progress-bar-striped active" style="width: <%= 90 - locals.session['popu'] %>%;"></div>
		<% } else if (locals.session['popu'] >= 100) { %>
	 		<div class="progress-bar progress-bar-info active" style="width: 10%;">Popularité:</div>
			<div class="progress-bar progress-bar-success" style="width: 80%;"><%= locals.session['popu'] %>pts de Popularité</div>
	 	<% } %>
	</div><br>
	<div class="row">
		<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
			<p class="text-center"><%= locals.session['myinfo'][0] %> <%= locals.session['myinfo'][1] %> <% if (locals.session['myinfo'][2] != undefined) {%><%= locals.session['myinfo'][2] + ' ans'%> <% } %> </p>
			<p class="text-center"><%= locals.session['myinfo'][3] %> <%= locals.session['myinfo'][4] %></p>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
			<% if (locals.session['mytag'] != null) { %>
				<p class="text-center">
				<% for (var i = 0; locals.session['mytag'][i]; i++) { %>
					<% if (locals.session['mytag'][i] != ' ') { %>
						<%= '#' + locals.session['mytag'][i] %>
					<% } %>
				<% } %>
				</p>
			<% } %>
		</div>
		<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
			<p class="text-center"><%= locals.session['myinfo'][5] %></p>
		</div>
	</div>
	<br><div class="progress">
		<!-- <% if (locals.session['popu'] < 100 && locals.session['popu'] != null) { %>
			<div class="progress-bar progress-bar-success progress-bar-striped active" style="width: <%= locals.session['popu'] %>%;"><%= (locals.session['popu']) + 'pts Popularité' %></div>
			<div class="progress-bar progress-bar-striped active" style="width: <%= 100 - (locals.session['popu']) %>%;"></div>
		<% } else if (locals.session['popu'] >= 100 && locals.session['popu'] != null) { %>
	 		<div class="progress-bar progress-bar-success progress-bar-striped active" style="width: <%= locals.session['popu'] / 10 %>%;"><%= (locals.session['popu'] / 10) + 'pts Popularité' %></div>
			<div class="progress-bar progress-bar-striped active" style="width: <%= 100 - (locals.session['popu'] / 10) %>%;"></div>
	 	<% } %> -->
	</div><br>
	<div class="row">
		<div class="col-md-12 col-xs-12">
			<% if (locals.session['mypic']) { %>
				<% if (locals.session['mypic'][0] != ' ') { %>
					<% for (var i = 0; locals.session['mypic'][i]; i++) { %>
						<img src=<%= '/asset/uploads/' + locals.session['mypic'][i] %> class="col-md-2 col-xs-2 img-circle">
					<% } %>
				<% } %>
			<% } %>
		</div>
	</div>
<% } %>

<script type="text/javascript" src="/asset/js/profile.js"></script>

<% include ../partial/footer %>