<% include partial/header %>

<% if (locals.session['herPro']) { %>
	<div class="row"><!-- class="col-md-12 col-xs-12"> -->
		<div id="status" class="col-md-12 col-xs-12 col-lg-12 col-sm-12 text-center"></div>
		<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
			<img id="avatar" name="<%= locals.session['herPro'][10] %>" src=<%= '/asset/uploads/' + locals.session['herPro'][8] %> class="col-md-offset-4 col-xs-offset-4 col-md-4 col-xs-4 img-circle" alt="<%= locals.session['herPro'][7] %>">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-xs-12"><br><br>
			<% if (locals.session['likeHer'] == undefined) { %>	
				<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 text-center">
					<div id="like_user" style="" class="text-center btn btn-success btn-xs">J'aime :)</div>
					<div id="unlike_user" style="display:none;" class="text-center btn btn-info btn-xs">J'aime plus :(</div>
				</div>
			<% } else { %>
				<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 text-center">
					<div id="like_user" style="display:none;" class="text-center btn btn-success btn-xs">J'aime :)</div>
					<div id="unlike_user" style="" class="text-center btn btn-info btn-xs">J'aime plus :(</div>
				</div>
			<% } if (locals.session['falseHer'] == undefined) { %>
				<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 text-center">
					<div id="false_user" class="text-center btn btn-warning btn-xs">C'est un faux !</div>
				</div>
			<% } else { %>
				<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 text-center">
					<div id="false_user" class="text-center btn btn-warning btn-xs" style="display:none;">C'est un faux !</div>
				</div>
			<% } if (locals.session['blockHer'] == undefined) { %>
				<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 text-center">
					<div id="block_user"  style="" class="text-center btn btn-danger btn-xs">Bloque</div>
					<div id="deblock_user" style="display:none;" class="text-center btn btn-info btn-xs">Débloque</div>
				</div>
			<% } else { %>
				<div class="col-md-4 col-xs-4 col-lg-4 col-sm-4 text-center">
					<div id="block_user" style="display:none;" class="text-center btn btn-danger btn-xs">Bloque</div>
					<div id="deblock_user"  style="" class="text-center btn btn-info btn-xs">Débloque</div>
				</div>
			<% } %>
		</div>
	</div>
	<br><div class="progress">
	 	<% if (locals.session['herPro'][11] < 100) { %>
			<div class="progress-bar progress-bar-info active" style="width: 10%;">Popularité:</div>
			<div class="progress-bar progress-bar-success progress-bar-striped active" style="width: <%= locals.session['herPro'][11] %>%;"><%= locals.session['herPro'][11] %>pts Popularité</div>
			<div class="progress-bar progress-bar-striped active" style="width: <%= 90 - locals.session['herPro'][11] %>%;"></div>
		<% } else if (locals.session['herPro'][11] >= 100) { %>
	 		<div class="progress-bar progress-bar-info active" style="width: 10%;">Popularité:</div>
			<div class="progress-bar progress-bar-success" style="width: 80%;"><%= locals.session['herPro'][11] %>pts de Popularité</div>
	 	<% } else if (!locals.session['herPro'][11]) { %>
	 		<div class="progress-bar progress-bar-info" style="width: 100%;"></div>
	 	<% } %>
	</div><br>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="row">
				<p class="text-center"><%= locals.session['herPro'][0] %> <%= locals.session['herPro'][1] %> <% if (locals.session['herPro'][2] != '' && locals.session['herPro'][2]) { %><%= locals.session['herPro'][2] + ' ans' %><% } %></p>
				<p class="text-center"><%= locals.session['herPro'][3] %> <%= locals.session['herPro'][4] %></p>
			</div>
			<div class="row">
				<% if (locals.session['herTag'] != null) { %>
					<p class="text-center">
					<% for (var i = 0;locals.session['herTag'][i]; i++) { %>
						<% if (locals.session['herTag'][i] != ' ') { %>
							<%= '#' + locals.session['herTag'][i] %>
						<% } %>
					<% } %>
					</p>
				<% } %>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<p class="text-center"><%= locals.session['herPro'][5] %></p>
		</div>
	</div>
	<br><div class="progress">
	 	<div class="progress-bar" style="width: 100%;"></div>
	</div><br>
	<div class="row">
		<% if (locals.session['herPic']) { %>
			<% if (locals.session['herPic'][0] != ' ') { %>
				<% for (var i = 0; locals.session['herPic'][i]; i++) { %>
					<a href="<%= '/asset/uploads/' + locals.session['herPic'][i] %>" onclick="window.open(this.href); return false;">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<img src=<%= '/asset/uploads/' + locals.session['herPic'][i] %> class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-circle">
						</div>
					</a>
				<% } %>
			<% } %>
		<% } %>
	</div>
<% } %>

<script type="text/javascript" src="/asset/js/herPro.js"></script>

<% include partial/footer %>